n8n/awesomeapps - scheduler.json
{
  "name": "awesomeapps - scheduler",
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jGdTe3phWBXxXdu6",
          "mode": "list",
          "cachedResultUrl": "/workflow/jGdTe3phWBXxXdu6",
          "cachedResultName": "serviceatlas - service"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "service": "={{ $('First new').item.json.service }}",
            "newtags": false,
            "fields": "={{ $('First new').item.json.fields }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "service",
              "displayName": "service",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "fields",
              "displayName": "fields",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array"
            },
            {
              "id": "newtags",
              "displayName": "newtags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        160,
        48
      ],
      "id": "97b1b16b-a42e-4afb-9b86-b0a74262d95f",
      "name": "Execute Workflow",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://awesomeapps-strapi.meimberg.io/api/new-services/{{ $('First new').item.json.documentId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \n  \"data\": {\n    \"n8nstatus\": \"pending\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -176,
        48
      ],
      "id": "6a5caed3-49a7-4250-b0c1-c3798ba99461",
      "name": "SET pending",
      "credentials": {
        "httpHeaderAuth": {
          "id": "CeUvr1IO6LHNS80v",
          "name": "Strapi Account"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://awesomeapps-strapi.meimberg.io/api/new-services/{{ $('First new').first().json.documentId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        -224
      ],
      "id": "49d1a215-e34e-4812-8827-072d8afc236e",
      "name": "Delete",
      "credentials": {
        "httpHeaderAuth": {
          "id": "CeUvr1IO6LHNS80v",
          "name": "Strapi Account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://awesomeapps-strapi.meimberg.io/api/new-services/{{ $('First new').first().json.documentId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"data\": {\n    \"n8nstatus\": \"error\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        64
      ],
      "id": "18beb5d4-49d6-443b-852d-1692ccce2273",
      "name": "Set to error",
      "credentials": {
        "httpHeaderAuth": {
          "id": "CeUvr1IO6LHNS80v",
          "name": "Strapi Account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -720,
        -256
      ],
      "id": "0f8e1269-e97d-4e04-abe1-98dd770b4608",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "37643aa8-4acc-426e-8d62-60ab4269512a",
              "leftValue": "={{ $json.data.newServices }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        144,
        -256
      ],
      "id": "4f5b1a0e-96b1-4204-b727-fe167c8a68c3",
      "name": "If has new"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://awesomeapps-strapi.meimberg.io/graphql",
        "query": "query GetNextNewservice {\n  newServices(filters: { n8nstatus: { eq: \"pending\"} }) {\n            documentId\n            slug\n        }\n    }\n\n"
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        -544,
        -256
      ],
      "id": "54e53f4d-83fb-4c76-8f0b-f3a774573f98",
      "name": "Check pending",
      "credentials": {
        "httpHeaderAuth": {
          "id": "CeUvr1IO6LHNS80v",
          "name": "Strapi Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let s = $input.first().json.data.newServices[0]\n\nreturn {\n  json: {\n    documentId: s.documentId,\n    service: s.slug,\n    fields: s.field ? [s.field] : []\n  }\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        48
      ],
      "id": "7ca73158-fc97-4497-9b0d-b34968c22d28",
      "name": "First new"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://awesomeapps-strapi.meimberg.io/graphql",
        "query": "query GetNextNewservice {\n  newServices(filters: { n8nstatus: { eq: \"new\"} }) {\n            documentId\n            slug\n            field\n        }\n    }\n\n"
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        -96,
        -240
      ],
      "id": "868d09b2-cbe3-4e59-96d8-b2deedad1e37",
      "name": "Get new",
      "credentials": {
        "httpHeaderAuth": {
          "id": "CeUvr1IO6LHNS80v",
          "name": "Strapi Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c78f5149-4ac1-4cc9-ba60-8e725b6cc423",
              "leftValue": "={{ $json.data.newServices }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -368,
        -256
      ],
      "id": "504ea555-637f-47e1-85ee-10431bf8d112",
      "name": "If has pending"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        544,
        -224
      ],
      "id": "51055311-9620-4f2b-a394-986e1fa711a5",
      "name": "Wait2",
      "webhookId": "f940b15b-9422-4e33-b2db-5aa32e4f84ad"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -448,
        48
      ],
      "id": "700ef650-238b-413e-aab2-d23c413b9a78",
      "name": "Wait1",
      "webhookId": "973a2562-e69b-485a-9fea-5ef6df6fd82f"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set to error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET pending": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Check pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If has new": {
      "main": [
        [
          {
            "node": "First new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check pending": {
      "main": [
        [
          {
            "node": "If has pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "First new": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get new": {
      "main": [
        [
          {
            "node": "If has new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If has pending": {
      "main": [
        [],
        [
          {
            "node": "Get new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "SET pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ba6bc163-5471-4c59-8fe0-456a89adcfe9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "614f4ac1770d547a84f14994b79bd2091454195ebec18a9773bbbdc2834c261d"
  },
  "id": "UinB7WZLkXGKkHH7",
  "tags": [
    {
      "createdAt": "2025-03-29T18:09:48.581Z",
      "updatedAt": "2025-03-29T18:09:48.581Z",
      "id": "C285bY1sRGAbLKTA",
      "name": "running"
    }
  ]
}